<%= link_to 'Back', pins_path %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <%= image_tag @pin.image.url(:medium) %>
      </div>
      <div class="panel-body">
        <p><strong>TITLE: </strong> <%= @pin.title %></p>
        <p><strong>AUTHOR: </strong><%= @pin.author %></p>
        <p><strong>ISBN: </strong># <%= @pin.isbn %></p>
        <p><strong>PRICE: </strong>$<%= @pin.price %></p>
        <p><strong>DESCRIPTION: </strong><%= @pin.description %></p>
        <p><strong>CONTACT: </strong><%= @pin.contact %> <span class="glyphicon glyphicon-earphone"></span> <span class="glyphicon glyphicon-envelope"></span></p>
        <p>
          <span class="glyphicon glyphicon-user"></span>
          <strong><%= @pin.user.name if @pin.user %></strong>
        </p>

        <% if @pin.user == current_user %>
          <%= link_to edit_pin_path(@pin) do %>
            <span class="glyphicon glyphicon-edit"></span>
            Edit
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>
